<div class="footer">

        <img src="images/footlogo.png" class="button_logo">
        <img src="images/fb.png" class="fb">
        <img src="images/tumblr.png" class="tumblr">
        <p>(2016) TourMatchi All Rights Reserved</p>

</div>

