<div class="matchi" ng-controller="MatchiCtrl as crrl">
    <div class="container">
        <h1>旅遊情報員</h1>
        <hr>
        <h2>TourMatchi來自世界各地的<br>專屬旅遊情報員</h2>
        <div ng-repeat="matchi in ctrl.matchii" class="matchi-item">
            <img class="wow flipInX"
                 ng-src="{{matchi.image_url}}">

            <div class="matchi-item-text">
                <h2>{{matchi.city}}</h2>

                <p>{{matchi.name}}</p>
            </div>
        </div>
        <a ng-click='ctrl.openLogin()'><button>填寫需求規劃表單></button>
    </div>
</div>