<div class="matchi-request" ng-controller="MatchiRequestCtrl as ctrl">
    <div class="container">
        <p>沒有理想的旅遊情報員嗎？請留下您需要的旅遊城市我們將有專人聯繫您。</p>
        <div class="submit">
            <form name="matchiRequestForm" ng-submit="ctrl.submit()">
                <input name="city" type="text" ng-model="ctrl.matchiRequestModel.city" required/>
                <input type="submit" value="送出"/>
            </form>
            </div>
        </div>
</div>