<div class="play" ng-controller="PlayCtrl as ctrl">
    <div class="container">
        <h1>精選情報員私房玩法</h1>
        <hr>
        <h2>找不到旅行靈感嗎？<br>來看看情報員都怎麼在當地旅遊吧！</h2>
        <div ng-repeat="play in ctrl.plays" class="play-item wow bounceInDown">
            <img ng-src="{{play.image_url}}">

            <div>
                <h2>{{play.city}}</h2>

                <p>{{play.description}}</p>
                <a href="{{play.url}}" target="_blank">
                    <img src="images/blog.jpg">
                </a>
            </div>
        </div>
        </div>
</div>