<div class="service" ng-controller="ServiceCtrl as ctrl">
    <div class="container">
        <div ng-repeat="service in ctrl.services"
             class="service-item wow slideInLeft"
             data-wow-duration="1s"
             data-wow-delay="{{$index * 0.5| second}}">
            <img ng-src="{{service.image_url}}">

            <h1>{{service.title}}</h1>

            <p>{{service.content}}</p>
        </div>
        <img src="images/down.png" class="down">
    </div>
</div>

