<div class="user-request-form" ng-controller="UserRequestFormController as ctrl" ng-show="ctrl.Auth.isLogin">
    <form name="ctrl.userFormForm" class="container" ng-submit="ctrl.submit()">
        <p>{{ctrl.name}} （{{ctrl.email}}）你好：） </p>

        <div class="user-request-form-city">
            <label for="city">旅行城市：</label>
            <select name="city" id="city"
                    class="form-control"
                    ng-options="c for c in ctrl.cities"
                    ng-model="ctrl.userForm.city"
                    required>
                <option value="">-- 請選擇 --</option>
            </select>
        </div>
        <div class="user-request-form-date">
            <label for="date">旅行的日期：
                <md-datepicker id="date" ng-model="ctrl.selectedDate" required=""></md-datepicker>
            </label>
        </div>

        <div class="user-request-form-participants">
            <p>這次旅行會有幾個人？</p>

            <div class="participants-container">
                <label for="age0_12"><span>12歲以下</span>
                    <input type="number" id="age0_12" name="age0_12" ng-model="ctrl.userForm.age0_12" required/></label>
                <label for="age13_18"><span>13-18歲</span>
                    <input type="number" id="age13_18" name="age13_18" ng-model="ctrl.userForm.age13_18"
                           required/></label>
                <label for="age19_35"><span>19-35歲</span>
                    <input type="number" id="age19_35" name="age19_35" ng-model="ctrl.userForm.age19_35"
                           required/></label>
                <label for="age36_50"><span>36-50歲</span>
                    <input type="number" id="age36_50" name="age36_50" ng-model="ctrl.userForm.age36_50"
                           required/></label>
                <label for="age51_65"><span>51-65歲</span>
                    <input type="number" id="age51_65" name="age51_65" ng-model="ctrl.userForm.age51_65"
                           required/></label>
                <label for="age65up"><span>65歲以上</span>
                    <input type="number" id="age65up" name="age65up" ng-model="ctrl.userForm.age65up" required/></label>
            </div>
        </div>

        <div class="user-request-form-topic">
            <p>您對怎麼樣的主題性行程比較感興趣呢？</p>

            <div class="topic-container">
                <label ng-repeat="topic in ctrl.topics">
                    <input type="checkbox"
                           name="topic[]"
                           value="topic.id"
                           ng-checked="ctrl.userForm.topics.indexOf(topic.topic_id) > -1"
                           ng-click="ctrl.toggleTopicSelected(topic.topic_id)"/>
                    {{topic.type}}
                </label>
            </div>
        </div>

        <div class="user-request-form-attraction">
            <p>有沒有哪些一定不能漏掉的景點？</p>

            <p class="hint"> 讓顧問更清楚你的需求！然後妥貼地安排進行程裡</p>
            <textarea name="attraction" rows="5" ng-model="ctrl.userForm.attraction"></textarea>
        </div>
        <div class="user-request-form-special">
            <p>有沒有什麼特殊需求是顧問需要知道的？？</p>

            <p class="hint"> Ex. 我吃素、夜生活是必須、我超愛走路</p>
            <textarea name="special" rows="5" ng-model="ctrl.userForm.special"></textarea>
        </div>
        <input type="submit" value="送出"/>
    </form>
</div>