<div class="slide-show" ng-controller="SlideCtrl as ctrl">
    <img id="logo" src="images/logo.png">

    <div class="menu">
        <a ng-click="ctrl.scrollTo('matchi')"><span class="title">旅遊顧問</span></a>
        <a href="#" ng-click='ctrl.openLogin()' ng-hide="ctrl.Auth.isLogin"><span class="login">註冊/登入</span></a>
        <a href="#" ng-click='ctrl.logout()' ng-show="ctrl.Auth.isLogin"><span class="logout">登出</span></a>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">

            <li ng-repeat="slide in ctrl.slides" data-target="#carousel-example-generic" data-slide-to="{{$index}}"
                ng-class="{'active': $first}"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div ng-repeat="slide in ctrl.slides" class="item" ng-class="{'active': $first}"
                 style="background-image:url('{{slide.image_url}}');">
            </div>
        </div>
        <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev" data-interval="2000">
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic"data-slide="next" data-interval="2000">
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>