@import "library";
@import "theme";
@import "common";

@media(min-width: 481px) {
  .about {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30vh;
      .about-left {
        width: 100%;
        h1 {
          font-size: 30px;
          margin: 0;
          font-weight: 900;
          font-family: Microsoft JhengHei;
          span {
            margin-top: 15px;
            font-size: 14px;
          }
        }
        hr {
          margin-top: 15px;
          border-top: 2px solid black;
          width: 96px;
          margin-bottom: 15px
        }
        p {
          margin-top: 24px;
          font-size: 21px;
          font-family: Microsoft JhengHei;
        }
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
@media screen and(min-width: 280px) and(max-width: 360px) {
  .about {
    width:360px;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 350px;
      padding: 30px 0 30px 0;
      width: 100%;
      .about-left {
        width: 100%;
        h1 {
          font-size: 30px;
          margin: 0;
          font-weight: 900;
          span {
            margin-top: 15px;
            font-size: 14px;
          }
        }
        hr {
          margin-top: 15px;
          margin-left: 133px;
          border-top: 2px solid black;
          width: 96px;
          margin-bottom: 15px
        }
        p {
          margin-top: 24px;
          margin-bottom: 30px;
          margin-left: 20px;
          font-size: 21px;
          width: 320px;

        }
      }
      img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
      }
    }
  }
}


@media screen and(min-width: 361px) and(max-width: 480px) {
  .about {
    width:414px;
    .container {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      height: 350px;
      padding: 40px 0 40px 0;
      .about-left {
        width: 100%;
        margin-top: 30px;
        h1 {
          font-size: 30px;
          margin: 0;
          font-weight: 900;
          span {
            margin-top: 15px;
            font-size: 14px;
          }
        }
        hr {
          text-align: center;
          margin-top: 15px;
          margin-left: 159px;
          border-top: 2px solid black;
          width: 96px;
          margin-bottom: 15px
        }
        p {
          margin-top: 24px;
          font-size: 21px;
          margin-bottom: 30px;
        }
      }
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}