/* app css stylesheet */
@import "library";
@import "theme";
@import "common";
@import "view";
@import "try";
@import "matchi-request";
@import "about";
@import "slide-show";
@import "service";
@import "matchi";
@import "footer";
@import "foot-last";
@import "play";
@import "pop-up";
@import "user-request-form";

.pop-modal-dialog-content {
  .ngdialog-content {
    width: 320px !important;
    padding: 0 !important;
  }
}

input {
  outline: none;
}

a:hover {
  cursor: pointer;
}
