* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-moz-selection {
  background: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 945px;
  margin: 0 auto;
  padding: 65px 0 58px 0;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}