@import "library";
@import "theme";
@import "common";

@media(min-width: 481px) {
  .footer {
    background-color: #a0a0a0;
    .container {
      position: relative;
      width: 945px;
      margin: 0 auto;
      padding: 65px 0 58px 0;
      height: auto;
      #social_fb {
        margin-left: 407px;
        width: 40px;
        margin-bottom: 20px;
      }
      #social_wordpress {
        margin-left: 40px;
        width: 40px;
        margin-bottom: 20px;
      }
      .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 205px;
        font-size: 18px;
        color: white;
        font-family: Microsoft JhengHei;
        .vr {
          width: 1px;
          background-color: #ffffff;
          top: 0;
          bottom: 0;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}

.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 140px;

}

.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 140px;
}

@media screen and(min-width: 280px) and(max-width: 360px) {
  .footer {
    width:360px;
    .container {
      .CenterCoverImageBackground2("../mobile/images/last2.png");
      height: 140px;
      width: 100%;

      .footer-item{
        #social_fb{
          margin-left: 90px;
          margin-top: -55px;
        }
        #social_wordpress{
          margin-left: 65px;
          margin-top: -55px;
        }
      }
      .content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 7px;
        p{
          letter-spacing: 5px;
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and(min-width: 361px) and(max-width: 480px) {
  .footer {
    width:414px;
    .container {
      .CenterCoverImageBackground2("../mobile/images/last2.png");
      height: 140px;
      width: 100%;

      .footer-item{
        #social_fb{
          margin-left: 100px;
          margin-top: -55px;
        }
        #social_wordpress{
          margin-left: 86px;
          margin-top: -55px;
        }
      }
      .content{
        display: flex;
        flex-direction: column;
        p{
          letter-spacing: 5px;
          margin-top: 5px;
          margin-left: 20px;
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}


