@import "library";
@import "theme";
@import "common";

@media(min-width: 481px) {
  .foot-last {
    background-color: black;
    height: 42px;
    h1 {
      font-size: 12px;
      color: white;
      letter-spacing: 2px;
      text-align: center;
      margin-top: 0px;
      padding-top: 15px;
    }
  }
}

@media screen and(min-width: 280px) and(max-width: 360px)  {
  .foot-last {
    width:360px;
    background-color: black;
    height: 42px;
    h1 {
      font-size: 12px;
      color: white;
      letter-spacing: 2px;
      text-align: center;
      margin-top: 0px;
      padding-top: 15px;
    }
  }
}

@media screen and(min-width: 361px) and(max-width: 480px)  {
  .foot-last {
    width:414px;
    background-color: black;
    height: 42px;
    h1 {
      font-size: 12px;
      color: white;
      letter-spacing: 2px;
      text-align: center;
      margin-top: 0px;
      padding-top: 15px;
    }
  }
}

