.Size(@width, @height) {
  width: @width;
  height: @height;
}

.Translate(@x, @y) {
  -ms-transform:translate(@x, @y); /* IE 9 */
  -webkit-transform: translate(@x, @y); /* Chrome, Safari, Opera */
  transform: translate(@x, @y);
}

.RemoveInlineMargin {
  font-size: 0;
  
  * > {
    font-size: 16px;
  }
}

.Opacity(@color, @opacity: 0.8) {
  background-color: @color;
  opacity: @opacity;
}

.CenterCoverImageBackground(@image) {
  background-image: url(@image);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.Rotate(@degree) {
  -webkit-transform: rotate(@degree);
  -moz-transform: rotate(@degree);
  -ms-transform: rotate(@degree);
  -o-transform: rotate(@degree);
  transform: rotate(@degree);
}

.HoverRotate(@degree, @time) {
  .Rotate(0);

  -webkit-transition: all @time ease-out;
  -moz-transition: all @time ease-out;
  -ms-transition: all @time ease-out;
  -o-transition: all @time ease-out;
  transition: all @time ease-out;

  &:hover {
    .Rotate(@degree);
  }
}

.ClickableMenuItem(@background_color, @hover_color, @font_color, @padding_left) {
  li {
    padding-left: @padding_left;
    background-color: @background_color;

    a {
      color: @font_color;
    }
  }

  li:hover {
    background-color: @hover_color;
  }
}

.ClearMenuList {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;

  li {
    font-size: 16px;
  }
}

.MenuList(@width, @background_color, @hover_color, @item_padding_left) {
  width: @width;

  ul {
    .ClearMenuList;
    .ClickableMenuItem(@background_color, @hover_color, white, @item_padding_left);
  }
}

.InlineAlignTop {
  display: inline-block;
  float: left;
}

.UpTriangle(@width, @height, @background_color) {
  width: 0;
  height: 0;
  border-left: @width/2 solid transparent;
  border-right: @width/2 solid transparent;
  border-bottom: @height solid @background_color;
}

.RightTriangle(@width, @height, @background_color) {
  width: 0;
  height: 0;
  border-top: @height/2 solid transparent;
  border-bottom: @height/2 solid transparent;
  border-left: @width solid @background_color;
}

.DownTriangle(@width, @height, @background_color) {
  width: 0;
  height: 0;
  border-left: @width/2 solid transparent;
  border-right: @width/2 solid transparent;
  border-top: @height solid @background_color;
}

.LeftTriangle(@width, @height, @background_color) {
  width: 0;
  height: 0;
  border-top: @height/2 solid transparent;
  border-bottom: @height/2 solid transparent;
  border-right: @width solid @background_color;
}

.RoundedButton(@width, @height, @radius, @background_color) {
  .Size(@width, @height);
  border: 0;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  background-color: @background_color;
}