@import "library";
@import "theme";
@import "common";

@media(min-width: 481px) {
  .dark-theme {
    .theme();
    input[type='button'] {
      line-height: 1em;
      background-color: #6cc;
      width:552px;
      margin-left: 190px;
    }
    input[type='button']:hover {
      background-color: #F8D487;
    }

  }
  .matchi-request {
    .CenterCoverImageBackground("../images/sea.jpg");
    p {
      font-size: 24px;
      font-family: Microsoft JhengHei;
    }
    form {
      display: flex;
      input {

      }
      input[type='text'] {
        .Size(340px, 48px);
        border: none;
      }
      input[type='submit'] {
        .Size(80px, 48px);
        padding: 0;
        border: none;
        color: white;
        background-color: #6cc;
        text-align: center;
        font-family: Microsoft JhengHei;
      }
      input[type='submit']:hover {
        padding: 2px 0 0 2px;
        background-color: #F8D487;
        color: black;
        height: 41px;
        font-family: Microsoft JhengHei;
      }
      input[type='submit']:active {
        padding: 4px 0 0 4px;
        color: black;
        height: 41px;
        font-family: Microsoft JhengHei;
      }
    }
  }
}

.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 106%;
  height: 100%;
}
.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;

}
@media screen and(min-width: 280px) and(max-width: 360px) {
  .light-theme {
    .theme();

    color: white;

    h1:after {
      background-color: white;
    }
    input{
      display: flex;
      align-items: flex-start;
    }
    input[type='submit'] {
      color: white;
      background-color: #6cc;
      margin-left: 240px;
      margin-top: -40px;
      height: 41px;
    }
    input[type='submit']:hover {
      background-color: #F8D487;
      height: 41px;

    }
    input[type='text'] {
      padding-left: 5px;
      color: black;
      margin-top: 265px;
      margin-left: 41px;
      width: 200px;
      height: 40px;
    }
  }

  .matchi-request {
    width:360px;
    .container {
      .CenterCoverImageBackground2("../mobile/images/nobackground.jpg");
      height: 589px !important;
      p {
        width: 319px;
        letter-spacing: 6px;
        line-height: 40px;
        margin-left: 30px;
        color: white;
        height: 93px;
        font-size: 20px;
        padding-top: 147px;
      }

    }
  }
}
@media screen and(min-width: 361px) and(max-width: 480px) {
  .light-theme {
    .theme();

    color: white;

    h1:after {
      background-color: white;
    }
    input{
      display: flex;
      align-items: flex-start;
    }
    input[type='submit'] {
      color: white;
      background-color: #6cc;
      margin-left: 279px!important;
      margin-top: -40px!important;
      height: 41px;
    }
    input[type='submit']:hover {
      background-color: #F8D487;
      height: 41px;
    }
    input[type='text'] {
      padding-left: 5px;
      color: black;
      margin-top: 265px;
      margin-left: 41px;
      width: 240px;
      height: 40px;
    }
  }

  .matchi-request {
    width:414px;
    .container {
      .CenterCoverImageBackground2("../mobile/images/nobackground.jpg");
      height: 589px !important;
      p {
        width: 319px;
        letter-spacing: 6px;
        line-height: 40px;
        margin-left: 45px;
        color: white;
        height: 93px;
        font-size: 20px;
        padding-top: 147px;
      }
    }
  }
}

