@import "library";
@import "theme";
@import "common";

@media(min-width: 481px) {
  .matchi {
    background-color: #d2d2d2;
    .container {
      h1 {
        font-size: 30px;
        font-family: Microsoft JhengHei;
        span {
          margin-top: 16px;
          margin-bottom: 53px;
          font-size: 14px;
          font-family: Microsoft JhengHei;
        }
      }
      .matchi-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -10px;
        .matchi-item {
          display: flex;
          flex-direction: column;
          margin: 0 10px;
          width: 170px;
          height: 239px;
          text-align: center;
          margin-bottom: 42px;
          img {
            .Size(170px, 157px);
            vertical-align: bottom;
          }
          .matchi-item-text {
            background-color: white;
            flex: 1;
            h2 {
              font-size: 21px;
              font-family: Microsoft JhengHei;
            }
            p {
              font-size: 14px;
              font-family: Microsoft JhengHei;
            }
          }
        }
      }
      a {
        outline: none;
        color: white;
        font-family: Microsoft JhengHei;
        button {
          left: 50%;
          margin-top: 45px;
          margin-left: 170px;
          padding: 13px 220px 13px 180px;
          //border: 0.1px solid black;
          text-align: center;
          transform: translation(-50%, 0);
          background-color: #6cc;
          font-size: 20px;
          font-color: white;
          font-family: Microsoft JhengHei;
        }
        button:hover {
          padding: 13px 220px 13px 180px;
          background-color: #F8D487;
          border: none;
          color: black;
          font-family: Microsoft JhengHei;
        }
      }
    }
  }
}

.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 845px;

}
.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 845px;
}
@media screen and(min-width: 280px) and(max-width: 360px) {
  .dark-theme {
    .theme();

    color: black;

    h1:after {
      background-color: black;
      margin: 0 0 27px 130px;
    }
    input[type='button'] {
      border: 3px solid black;
      line-height: 1em;
      margin-left: 50px;
      color: #000000;
    }
    input[type='button']:hover {
      background-color: #F8D487;
    }

  }

  .matchi {
    width:360px;
    .container {
      height: auto !important;
      .CenterCoverImageBackground2("../mobile/images/matchiback.png");

      h1 {
        font-size: 30px;
        margin-top: -10px;
        span {
          display: block;
          margin-top: 16px;
          margin-bottom: 53px;
          font-size: 14px;
        }
      }
      .matchi-items {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .matchi-item {
          display: flex;
          flex-direction: row;
          margin: -15px -5px;
          width: 100%;
          height: 90px;
          float: left;
          margin-bottom: 42px;
          img {
            .Size(90px, 90px);
            vertical-align: bottom;
          }
          .matchi-item-text {
            background-color: white;
            flex: 1;
            h2 {
              font-size: 21px;
              margin-left: 16px;
            }
            p {
              font-size: 14px;
              margin-left: 16px;
            }
          }
          }
        }
      }
    }
  }

@media screen and(min-width: 361px) and(max-width: 480px) {
  .dark-theme {
    .theme();

    color: black;

    h1:after {
      background-color: black;
      margin: 0 0 27px 152px;
    }

    input[type='button'] {
      border: 3px solid black;
      line-height: 1em;
      margin-left: 73px;
      color: #000000;
    }
    input[type='button']:hover {
      background-color: #F8D487;
    }
  }

  .matchi {
    width:414px;
    .container {
      height: auto !important;
      .CenterCoverImageBackground2("../mobile/images/matchiback.png");

      h1 {
        font-size: 30px;
        margin-left: 10px;
        margin-top: -10px;
        span {
          display: block;
          margin-top: 16px;
          margin-bottom: 53px;
          font-size: 14px;
        }
      }
      .matchi-items {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .matchi-item {
          display: flex;
          flex-direction: row;
          margin: -15px 5px;
          width: 363px;
          height: 90px;
          float: left;
          margin-bottom: 42px;
          img {
            .Size(90px, 90px);
            vertical-align: bottom;
          }
          .matchi-item-text {
            background-color: white;
            flex: 1;
            h2 {
              font-size: 21px;
              margin-left: 16px;
            }
            p {
              font-size: 14px;
              margin-left: 16px;
            }
          }

        }
      }
    }
  }
}
