@import "library";
@import "theme";
@import "common";

@media(min-width: 481px) {
  .play {
    .container {
      padding: 30px 0 58px 0;
      h1 {
        padding-top: 24px;
        float: left;
        font-size: 30px;
        font-weight: 900;
        font-family: Microsoft JhengHei;
        span {
          font-size: 14px;
          color: black;
          margin-top: 16px;
          padding-bottom: 56px;
          font-family: Microsoft JhengHei;
        }
      }
      hr {
        margin-top: 106px;
        border-top: 2px solid black;
        width: 96px;
        margin-bottom: 27px;
        margin-left: 2px;
      }
      .play-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .play-item {
          display: flex;
          margin-bottom: 66px;
          width: 470px;
          height: 170px;
          img {
            margin-right: 22px;
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex: 1;
            position: relative;
            h2 {
              font-size: 24px;
              color: black;
              margin-bottom: 22px;
              font-weight: 800;
              font-family: Microsoft JhengHei;
            }
            p {
              font-size: 14px;
              color: #a0a0a0;
              margin: 0;
              font-family: Microsoft JhengHei;
            }
            a {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: 280px) and(max-width: 360px) {
  .play {
    width:360px;
    .container {
      width: 100%;
      height: 834px;

      h1 {
        margin-left: -10px;
        margin-top: 20px;
        font-size: 30px;
        span {
          display: block;
          margin-left: 55px;
          font-size: 12px;
          width: 254px;
        }
      }
      hr {
        margin-left: 65px;
        margin-top: 20px;
        border-top: 2px solid black;
        width: 240px;
        color: #000000;
      }


      .play-items {
        .play-item {
          width: 196px;
          height: 286px;
          margin-top: 32px;

          img {
            text-align: center;
            margin-left: 95px;
          }
          h2 {
            text-align: center;
            width: 185px;
            font-size: 24px;
            font-color: black;
            letter-spacing: 9px;
            margin-top: 18px;
            margin-left: 97px;
          }
          p {
            text-align: center;
            width: 190px;
            font-size: 14px;
            font-color: #a0a0a0;
            letter-spacing: 3px;
            margin-top: 4px;
            margin-left: 93px;
          }
          .blog{
            margin-left: 143px;
          }
        }
      }
    }
  }
}


  @media screen and(min-width: 361px) and(max-width: 480px) {
    .play {
      width:414px;
      .container {
        width: 100%;
        height: 834px;

        h1 {
          margin-left: -2px;
          margin-top: -10px;
          font-size: 30px;
          span {
            display: block;
            margin-left: 77px;
            margin-top: 35px;
            font-size: 12px;
            width: 254px;
          }
        }

        hr {
          margin-left: 85px;
          margin-top: 20px;
          margin-bottom: -20px;
          border-top: 2px solid black;
          width: 227px;
          color: #000000;
          padding-bottom: 20px;
        }
        .play-items {
          .play-item {
            width: 196px;
            height: 286px;
            margin-top: 32px;

            img {
              text-align: center;
              margin-left: 122px;
              margin-top: 15px;
            }
            h2 {
              text-align: center;
              width: 185px;
              font-size: 24px;
              font-color: black;
              letter-spacing: 9px;
              margin-top: 18px;
              margin-left: 118px;
            }
            p {
              text-align: center;
              width: 190px;
              font-size: 14px;
              font-color: #a0a0a0;
              letter-spacing: 3px;
              margin-top: 4px;
              margin-left: 114px;
            }
            .blog{
              margin-left: 170px;
            }
          }
        }
      }
    }
  }




