@import "library";
@import "theme";
@import "common";

@media(min-width: 481px) {
  .pop-up {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    border-radius: 3px;
    input {
      outline: none;
      margin-bottom: 20px;
    }
    img {
      width: 51px;
      height: 51px;
      margin-bottom: 15px;
    }
    form {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > input {
        width: 100%;
        height: 39px;
        border: 3px solid #e7e7e7;
        padding-left: 17px;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        &.center {
          justify-content: center;
        }
        input {
          width: 119px;
          height: 36px;
          border-radius: 4px;
        }
        input:hover {
          padding: 2px 0 0 2px;
        }
        input:active {
          padding: 4px 0 0 4px;
        }
        .register {
          border: 2px solid #66b8b5;
          color: #66b8b5;
          background-color: white;
        }
        .login {
          border: none;
          background-color: #66b8b5;
          color: white;
        }
        .register.full {
          .login();
          width: 100%;
        }
      }
    }
  }
}

@media screen and(min-width: 280px) and(max-width: 360px) {
  .pop-up {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    border-radius: 3px;
    input {
      outline: none;
      margin-bottom: 20px;
    }
    img {
      width: 51px;
      height: 51px;
      margin-bottom: 15px;
    }
    form {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > input {
        width: 100%;
        height: 39px;
        border: 3px solid #e7e7e7;
        padding-left: 17px;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        &.center {
          justify-content: center;
        }
        input {
          width: 119px;
          height: 36px;
          border-radius: 4px;
        }
        input:hover {
          padding: 2px 0 0 2px;
        }
        input:active {
          padding: 4px 0 0 4px;
        }
        .register {
          border: 2px solid #66b8b5;
          color: #66b8b5;
          background-color: white;
        }
        .login {
          border: none;
          background-color: #66b8b5;
          color: white;
        }
        .register.full {
          .login();
          width: 100%;
        }
      }
    }
  }
}

@media screen and(min-width: 361px) and(max-width: 480px) {
  .pop-up {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    border-radius: 3px;
    input {
      outline: none;
      margin-bottom: 20px;
    }
    img {
      width: 51px;
      height: 51px;
      margin-bottom: 15px;
    }
    form {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > input {
        width: 100%;
        height: 39px;
        border: 3px solid #e7e7e7;
        padding-left: 17px;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        &.center {
          justify-content: center;
        }
        input {
          width: 119px;
          height: 36px;
          border-radius: 4px;
        }
        input:hover {
          padding: 2px 0 0 2px;
        }
        input:active {
          padding: 4px 0 0 4px;
        }
        .register {
          border: 2px solid #66b8b5;
          color: #66b8b5;
          background-color: white;
        }
        .login {
          border: none;
          background-color: #66b8b5;
          color: white;
        }
        .register.full {
          .login();
          width: 100%;
        }
      }
    }
  }
}