@import "library";
@import "theme";
@import "common";

@media(min-width: 481px) {
  .service {
    .container {
      .RemoveInlineMargin;
      padding-top: 0;
      padding-bottom: 66px;
      .service-item {
        display: inline-block;
        width: 300px;
        vertical-align: top;
        text-align: center;
        margin-left: 12px;
        margin-right: 12px;
        h1 {
          font-size: 21px;
          text-align: center;
          margin-top: 0;
          font-weight: 900;
          font-family: Microsoft JhengHei;
        }
        p {
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 4px;
          text-align: justify;
          font-family: Microsoft JhengHei;
        }
      }
      .service-item:nth-of-type(1) {
        margin-left: 6px;
        img {
          margin-top: 58px;
          margin-bottom: 42px;
        }
      }
      .service-item:nth-of-type(2) {
        width: 284px;
        img {
          margin-top: 51px;
          margin-bottom: 45px;
        }
      }
      .service-item:nth-of-type(3) {
        margin-right: 6px;
        width: 282px;
        img {
          margin-top: 65px;
          margin-bottom: 52px;
        }
      }
    }
  }
}

@media screen and(min-width: 280px) and(max-width: 360px) {
  .service {
    width:360px;
    .container {
      position: relative;
      width: 100%!important;
      height: 813px;
      margin: 0 auto;
      .theme-dark {
        font-family: GenJyuuGothic Medium;
        font-size: 21px;
        letter-spacing: 9px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .theme-dark1 {
        font-family: GenJyuuGothic P Light;
        font-family: STHeitTC Light;
        font-size: 14px;
        width: 340px;
        height: 80px;
        margin-left: 10px;
        text-align: center;
      }
      .service-item{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        img{
          .Size(80px, 80px);
          text-align: center;
          margin-left:  138px;
          margin-right: 160px;

        }
        h1{
          .theme-dark;
        }
        p{
          .theme-dark1;
        }

      }
    }
  }
}

@media screen and(min-width: 361px) and(max-width: 480px) {
  .service {
    width:414px;
    .container {
      position: relative;
      width: 100%;
      height: 813px;
      margin: 0 auto;
      .theme-dark {
        font-family: GenJyuuGothic Medium;
        font-size: 21px;
        letter-spacing: 9px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .theme-dark1 {
        font-family: GenJyuuGothic P Light;
        font-family: STHeitTC Light;
        font-size: 14px;
        width: 350px;
        height: 80px;
        margin-left: 25px;
        text-align: center;
      }
      .service-item{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        img{
          .Size(80px, 80px);
          text-align: center;
          margin-left:  160px;
          margin-right: 160px;

        }
        h1{
          .theme-dark;
        }
        p{
          .theme-dark1;
        }

      }
    }
  }
}




