.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 487px;

}
.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 487px;

}

@media(min-width: 481px) {
  .slide-show {
    height: 70vh;
    position: relative;
    color: white;
    #logo, .menu, p {
      position: absolute;
      z-index: 5;
    }
    #logo {
      top: 49px;
      left: 202px;
    }
    .item {
      width: 100%;
      height: 70vh;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .menu {
      top: 49px;
      right: 202px;
      a {
        color: white;
        outline: none;
      }
      span {
        font-size: 21px;
        font-weight: 900;
        margin-left: 54px;
        letter-spacing: 4px;
        font-family: Microsoft JhengHei;
      }
    }
    .carousel-indicators {
      padding-left: 61px;
      li {
        width: 20px;
        height: 20px;
      }
    }
    p {
      margin: 0;
      bottom: 128px;
      left: 202px;
      font-size: 60px;
      line-height: 1.75em;
      letter-spacing: 24px;
    }
  }
}

@media screen and(min-width: 280px) and(max-width: 360px) {
  .slide-show {
    width: 360px;
    height: 565px;
    position: relative;
    color: white;
    #logo, .menu, p {
      position: absolute;
      z-index: 5;
    }
    #logo {
      visibility: hidden;
      top: 31px;
      left: 125px;
    }
    .item {
      width: 100%;
      .CenterCoverImageBackground2("mobile/images/background.jpg");
      height: 565px;
    }
    .menu {
      margin-top: 460px;
      margin-left: 230px;
      color: #52a9a6;
      a {
        color: white;
        outline: none;
      }
      .title{
        visibility: hidden;
      }
      .login {
        font-size: 21px;
        margin-left: -250px;
        letter-spacing: 4px;
        padding: 10px 88px 10px 88px;
        border-style: solid;
        border-color: white;
        border-radius: 2px;
        text-align: center;
      }
      .logout{
        font-size: 21px;
        margin-left: -222px;
        letter-spacing: 4px;
        padding: 10px 88px 10px 88px;
        border-style: solid;
        border-color: white;
        border-radius: 2px;
        text-align:center;
      }
    }
    .carousel-indicators {
      padding-left: 72px;
      margin-left: -123px;
      text-align: center;
      li {
        float:left ;
        margin-left: 13px;
        width: 20px;
        height: 20px;
      }
    }
    p {
      margin: 0;
      bottom: 128px;
      left: 215px;
      font-size: 60px;
      line-height: 1.75em;
      letter-spacing: 24px;
    }
  }
  .carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 566px;
  }
  h1{
    font-size: 20px;
    text-align: center;
    color: #000000;
  }
  .down{
    margin-left: 170px;
  }
}

@media screen and(min-width: 361px) and(max-width: 480px) {
  .slide-show {
    width: 414px;
    height: 565px;
    position: relative;
    color: white;
    #logo, .menu, p {
      position: absolute;
      z-index: 5;
    }
    #logo {
      visibility: hidden;
      top: 31px;
      left: 125px;
    }
    .item {
      width: 100%;
      .CenterCoverImageBackground2("mobile/images/background.jpg");
      height: 565px;
    }
    .menu {
      margin-top: 460px;
      margin-left: 230px;
      color: #52a9a6;
      a {
        color: white;
        outline: none;
      }
      .title{
        visibility: hidden;
      }
      .login {
        font-size: 21px;
        margin-left: -229px;
        letter-spacing: 4px;
        padding: 10px 88px 10px 88px;
        border-style: solid;
        border-color: white;
        border-radius: 2px;
      }
      .logout{
        font-size: 21px;
        margin-left: -198px;
        letter-spacing: 4px;
        padding: 10px 88px 10px 88px;
        border-style: solid;
        border-color: white;
        border-radius: 2px;

      }
    }
    .carousel-indicators {
      margin-left: -56px;
      li {
        float:left ;
        margin-left: 13px;
        width: 20px;
        height: 20px;
      }
    }
    p {
      margin: 0;
      bottom: 128px;
      left: 215px;
      font-size: 60px;
      line-height: 1.75em;
      letter-spacing: 24px;
    }
  }
  .carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 566px;
  }
  h1{
    font-size: 20px;
    text-align: center;
    color: #000000;
  }
  .down{
    margin-left: 170px;
  }
}
