@import "library";
@import "common";

.theme {
  h1 {
    font-size: 30px;
    font-family: Microsoft JhengHei;;
    font-weight: 900;
  }

  h1:after {
    .Size(96px, 3px);
    display: block;
    content: "";
    margin: 21px 0 27px 0;
  }

  p {
    font-size: 21px;
    line-height: 1.5em;
  }

  input[type='button'] {
    border: 0;
    padding: 9px 11px 11px 11px;
    font-size: 21px;
    line-height: 1em;
  }

  input[type='button']:hover {
    padding: 11px 9px 9px 13px;
    background-color: #F8D487;
    color:black;
  }

  input[type='button']:active {
    padding: 13px 7px 7px 15px;
    background-color: #F8D487;
    color:black;
  }

  input[type='text'] {
    padding-left: 5px;
    color: black;
  }
}

.light-theme {
  .theme();
  font-family: Microsoft JhengHei;
  color: white;

  h1:after {
    background-color: white;
    font-family: Microsoft JhengHei;
  }

  input[type='button'] {
    background-color: #6cc;
  }
  input[type='button']:hover {
    background-color: #F8D487;
  }
}

.dark-theme {
  .theme();

  color: black;

  h1:after {
    background-color: black;
  }

  input[type='button'] {
    border: 3px solid black;
    line-height: 1em;
    font-family: Microsoft JhengHei;
  }
}