@import "library";
@import "theme";
@import "common";

.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 106%;
  height: 487px;
}
.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 487px;
}

@media(min-width: 481px) {
  .light-theme {
    .theme();
    input[type='button'] {
      color: white;
      font-family: Microsoft JhengHei;
    }
    input[type='button']:hover {
      color: black;
      font-family: Microsoft JhengHei;
    }
  }
  .try {
    .CenterCoverImageBackground("../images/try-background.jpg");
  }
}

@media screen and(min-width: 280px) and(max-width: 360px) {
  .light-theme {
    .theme();

    color: white;

    h1:after {
      background-color: white;
      width: 153px;
      margin: 21px 0 27px 125px!important;
    }

    input[type='button'] {
      color: white;
      background-color: #6cc;
      margin-left: 106px!important;
      margin-top: 20px!important;
    }
    input[type='button']:hover {
      background-color: #F8D487;
    }
  }

  .try {
    width:360px;
    .container {
      .CenterCoverImageBackground2("../mobile/images/trybackground.jpg");
      height: 734px !important;
      h1 {
        text-color: white;
        font-size: 22px;
        letter-spacing: 5px;
        margin-top: 295px;
        margin-left: 10px;
        text-align: center;
        color: white;
      }
      p {
        color: #000000;
        margin-top: 65px;
        margin-left: 27px;
      }

      .down {
        margin-top: 40px;
        text-align: center;
      }
    }
  }
}

@media screen and(min-width: 361px) and(max-width: 480px) {
  .light-theme {
    .theme();

    color: white;

    h1:after {
      background-color: white;
      width: 153px;
      margin: 21px 0 27px 145px!important;
    }

    input[type='button'] {
      color: white;
      background-color: #6cc;
      margin-left: 130px!important;
      margin-top: 22px!important;
    }
    input[type='button']:hover {
      background-color: #F8D487;
    }
  }

  .try {
    width:414px;
    .container {
      .CenterCoverImageBackground2("../mobile/images/trybackground.jpg");
      height: 734px !important;
      h1 {
        text-color: white;
        font-size: 22px;
        letter-spacing: 5px;
        margin-top: 295px;
        margin-left: 10px;
        text-align: center;
        color: white;
      }
      p {
        color: #000000;
        margin-top: 65px;
        margin-left: 45px;
      }

      .down {
        margin-top: 40px;
        text-align: center;
      }
    }
  }
}




