@import "library";

@media(min-width: 481px) {
  .user-request-form {

    .CenterCoverImageBackground('../images/user-request-form.png');
    color: white;
    font-size: 20px;

    form {
      display: flex;
      flex-direction: column;
    }

    select, input[type='number'], textarea, md-datepicker {
      .RoundedButton(auto, auto, 8px, rgba(255, 255, 255, 0.5));
      border: 2px solid white;
    }

    input[type='number'] {
      text-align: right;
    }

    select {
      height: 34px;
    }

    md-datepicker {
      display: inline-block;
      height: 34px;
      width: 200px;
      padding: 0;

      button.md-icon-button {
        height: auto;
        min-height: 0;
        padding: 0;
      }

      .md-datepicker-input-container {
        padding: 0;
        height: 27px;
      }

      .md-datepicker-triangle-button.md-button.md-icon-button {
        top: 5px;
      }
    }

    [class*="user-request-form-"] {
      margin-bottom: 24px;
    }

    .user-request-form-city {
      select {
        display: inline;
        width: 230px;
      }
    }

    .user-request-form-participants {
      .participants-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        span {
          display: inline-block;
          width: 180px;
          text-align: right;
          padding-right: 10px;
        }

        input {
          width: 120px;
        }
      }
    }

    .user-request-form-topic {
      .topic-container {
        display: flex;
        flex-wrap: wrap;

        label {
          width: 150px;
        }
      }
    }

    .hint {
      font-size: 0.8em;
    }

    textarea {
      width: 100%;
    }

    input[type='submit'] {
      .RoundedButton(150px, 45px, 8px, #52a9a6);
      line-height: 40px;
      border: none;
      text-align: center;
      align-self: flex-end;
    }
  }
}

@media screen and(min-width: 280px) and(max-width: 360px) {
  .user-request-form {
    width:360px;
    .CenterCoverImageBackground('../images/user-request-form.png');
    color: white;
    font-size: 20px;
    p{
      margin-left: 10px;
    }
    form {
      display: block;
      width: 100%;
    }

    select, input[type='number'], textarea, md-datepicker {
      .RoundedButton(auto, auto, 8px, rgba(255, 255, 255, 0.5));
      border: 2px solid white;
    }

    input[type='number'] {
      text-align: right;
    }

    select {
      height: 34px;
    }

    md-datepicker {
      display: inline-block;
      height: 34px;
      width: 200px;
      padding: 0;

      button.md-icon-button {
        height: auto;
        min-height: 0;
        padding: 0;
      }

      .md-datepicker-input-container {
        padding: 0;
        height: 27px;
      }

      .md-datepicker-triangle-button.md-button.md-icon-button {
        top: 5px;
      }
    }

    [class*="user-request-form-"] {
      margin-bottom: 24px;
    }

    .user-request-form-city {
      select {
        display: inline;
        width: 230px;
      }
    }

    .user-request-form-participants {
      .participants-container {
        margin-left: -70px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        span {
          display: inline-block;
          width: 180px;
          text-align: right;
          padding-right: 10px;
        }

        input {
          width: 120px;
        }
      }
    }

    .user-request-form-topic {
      .topic-container {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        label {
          width: 150px;
        }
      }
    }
    .user-request-form-attraction {
      margin-bottom: 24px;
      margin-left: 10px;
      width: 320px;
      .hint {
        font-size: 0.8em;
      }
      textarea {
        width: 105%;
      }
    }
    .user-request-form-special {
      margin-bottom: 24px;
      margin-left: 10px;
      width: 320px;
      textarea {
        width: 105%;
      }
    }

    input[type='submit'] {
      .RoundedButton(150px, 45px, 8px, #52a9a6);
      line-height: 40px;
      border: none;
      text-align: center;
      margin-left: 105px;
    }
  }
}

@media screen and(min-width: 361px) and(max-width: 480px) {
  .user-request-form {
    width:414px;
    .CenterCoverImageBackground('../images/user-request-form.png');
    color: white;
    font-size: 20px;
    p{
      margin-left: 10px;
    }
    form {
      display: block;
      width: 100%;
    }

    select, input[type='number'], textarea, md-datepicker {
      .RoundedButton(auto, auto, 8px, rgba(255, 255, 255, 0.5));
      border: 2px solid white;
    }

    input[type='number'] {
      text-align: right;
    }

    select {
      height: 34px;
    }

    md-datepicker {
      display: inline-block;
      height: 34px;
      width: 200px;
      padding: 0;

      button.md-icon-button {
        height: auto;
        min-height: 0;
        padding: 0;
      }

      .md-datepicker-input-container {
        padding: 0;
        height: 27px;
      }

      .md-datepicker-triangle-button.md-button.md-icon-button {
        top: 5px;
      }
    }

    [class*="user-request-form-"] {
      margin-bottom: 24px;
    }

    .user-request-form-city {
      select {
        display: inline;
        width: 230px;
      }
    }

    .user-request-form-participants {
      .participants-container {
        margin-left: -70px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        span {
          display: inline-block;
          width: 180px;
          text-align: right;
          padding-right: 10px;
        }

        input {
          width: 120px;
        }
      }
    }

    .user-request-form-topic {
      .topic-container {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        label {
          width: 150px;
        }
      }
    }
    .user-request-form-attraction {
      margin-bottom: 24px;
      margin-left: 10px;
      width: 320px;
      .hint {
        font-size: 0.8em;
      }
      textarea {
        width: 120%;
      }
    }
    .user-request-form-special {
      margin-bottom: 24px;
      margin-left: 10px;
      width: 320px;
      textarea {
        width: 120%;
      }
    }

    input[type='submit'] {
      .RoundedButton(150px, 45px, 8px, #52a9a6);
      line-height: 40px;
      border: none;
      text-align: center;
      margin-left: 130px;
    }
  }
}
