/* app css stylesheet */
@import "library";
@import "mobile";
@import "try";
@import "try-down";
@import "matchi-request";
@import "slide-show";
@import "service";
@import "matchi";
@import "footer";
@import "play";
@import "user-request-form";
.pop-modal-dialog-content {
  .ngdialog-content {
    width: 320px !important;
    padding: 0 !important;
  }
}