.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 140px;

}
.CenterCoverImageBackground3(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 34px;

}
.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 140px;
}
  .CenterCoverImageBackground4(@image) {
    background: url(@image) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 34px;
  }
@media screen and(min-width: 280px) and(max-width: 360px) {
  .footer {
  .CenterCoverImageBackground1("../images/last2.png");
    height: 140px;
    .button_logo{
      margin-top: 32px;
      margin-left: 38px!important;

    }
    .fb{
      margin-top: 32px;
      margin-left: 59px!important;
    }
    .tumblr{
      margin-top: -82px;
      margin-left: 285px!important;
    }
    p{
    .CenterCoverImageBackground3("../images/last.png");
      width: 100%;
      margin-top: 22px;
      margin-left: 0px;
      color: white;
      letter-spacing: 1px;
      text-align: center;
    }

  }
}

@media screen and(min-width: 361px) and(max-width: 480px) {
  .footer {
    .CenterCoverImageBackground2("../images/last2.png");
    height: 140px;
    width: 100%;

    .button_logo{
      margin-top: 32px;
      margin-left: 25px;

    }
    .fb{
      margin-top: 32px;
      margin-left: 85px;
    }
    .tumblr{
      margin-top: 32px;
      margin-left: 80px;
    }
    p{
    .CenterCoverImageBackground4("../images/last.png");
      width: 100%;
      margin-top: 41px;
      color: white;
      letter-spacing: 1px;
      text-align: center;
    }

  }
}
