.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 671px;

}
.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 671px;
}
@media screen and(min-width: 280px) and(max-width: 360px) {
  .matchi {
    .container {
      .CenterCoverImageBackground1("../images/matchiback.png");
      height: 671px !important;
      h1 {
        font-size: 21px;
        padding-bottom: 15px;
        margin-top: 46px;
        margin-left: -10px;
        text-align: center;
      }
      hr {
        margin-top: 12px;
        margin-left: 108px!important;
        margin-right: auto;
        border-top: 2px solid black;
        width: 105px;
        text-align: center;
      }
      h2 {
        margin-top: 13px;
        margin-left: 28px;
        margin-right: auto;
        padding-top: 15px;
        font-size: 21px;
        width: 285px;
        letter-spacing: 2px;
        text-align: center;
      }
      .matchi_item {
        width: 312px;
        height: 88px;
        margin-top: 30px;
        background-color: #FFFFFF;
        text-align: center;
        margin-left: -4px!important;
        margin-right: auto;
        display: -webkit-flex;
        display: flex;
        img {
          float: left;
        }
        .content {
          flex-direction: column-reverse;
          h3 {
            margin-top: 10px;
            margin-left: 15px;
            color: #000000;
          }
          p {
            font-size: 18px;
            float: left;
            margin-left: 15px;
            color: #000000;
          }
        }
      }
      button {
        width: 295px;
        margin-top: 50px;
        margin-left: 16px!important;
        margin-right: auto;
        padding: 13px 14px 12px 15px;
        border: 2px solid black;
        text-align: center;
        color: #000000;
        font-size: 18px;
      }
    }
  }
}
@media screen and(min-width: 360px) and(max-width: 480px) {
  .matchi {
    .container {
      height: 671px!important;
      .CenterCoverImageBackground2("../images/matchiback.png");

      h1 {
        font-size: 21px;
        padding-bottom: 15px;
        margin-top: 46px;
        text-align: center;
      }
      hr {
        margin-top: 12px;
        margin-left: 139px;
        border-top: 2px solid black;
        width: 105px;
        text-align: center;
      }
      h2 {
        margin-top: 13px;
        margin-left: 50px;
        padding-top: 15px;
        font-size: 21px;
        width: 285px;
        letter-spacing: 2px;
        text-align: center;
      }
      .matchi_item {
        width: 344px;
        height: 88px;
        margin-top: 30px;
        margin-left: 50px;
        background-color: #FFFFFF;
        text-align: center;
        margin-left: 10px;
        display: -webkit-flex;
        display: flex;
        img {
          float: left;
        }
        .content {
          flex-direction: column-reverse;
          h3 {
            margin-top: 10px;
            margin-left: 15px;
            color: #000000;
          }
          p {
            font-size: 18px;
            float: left;
            margin-left: 15px;
            color: #000000;
          }
        }
      }
      button {
        width: 295px;
        margin-top: 65px;
        margin-left: 40px;
        padding: 13px 14px 12px 15px;
        border: 2px solid black;
        text-align: center;
        color: #000000;
        font-size: 18px;
      }
    }
  }
}