.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 106%;
  height: 100%;
}
.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;

}
@media screen and(min-width: 280px) and(max-width: 360px) {
  .leave-message {
    .container {
      .CenterCoverImageBackground1("../images/nobackground.jpg");
      height: 589px !important;
      p {
        width: 319px;
        letter-spacing: 6px;
        line-height: 40px;
        padding-top: 80px!important;
        margin-left: 15px;
        color: white;
        height: 93px;
        font-size: 20px;
      }
      .submit {
        display: flex;
        align-item: flex-start;
        margin-top: 385px!important;
        margin-left: 20px;
        input {
          width: 217px;
          height: 42px;
        }
        .try_button {
          width: 81px;
          height: 43px;
          color: #8c8c8c;
        }
      }
    }
  }
}
  @media screen and(min-width: 361px) and(max-width: 480px) {
    .leave-message {
      .container {
        .CenterCoverImageBackground2("../images/nobackground.jpg");
        height: 589px !important;
        p {
          width: 319px;
          letter-spacing: 6px;
          line-height: 40px;
          margin-left: 45px;
          color: white;
          height: 93px;
          font-size: 20px;
          padding-top: 147px;
        }
        .submit {
          display: flex;
          align-item: flex-start;
          margin-top: 285px;
          margin-left: 55px;
          input {
            width: 217px;
            height: 42px;
          }
          .try_button {
            width: 81px;
            height: 43px;
            color: #8c8c8c;
          }
        }
      }
    }
  }

