@media screen and(min-width: 280px) and(max-width: 360px) {
  .play {
    .container {
      width: 330px;
      height: 834px;

      h1 {
        margin-left: -18px;
        margin-top: 45px;
        font-size: 30px;
      }
      hr {
        margin-left: 34px;
        margin-top: 10px;
        border-top: 2px solid black;
        width: 227px;
      }
      h2 {
        text-align: center;
        font-size: 14px;
        font-color: black;
        margin-top: 19px;
        margin-left: 24px;
        width: 253px;
      }
      .play_item {
        width: 196px;
        height: 286px;
        margin-top: 32px;

        img {
          text-align: center;
          margin-left: 50px;
        }
        h3 {
          text-align: center;
          width: 185px;
          font-size: 24px;
          font-color: black;
          letter-spacing: 9px;
          margin-top: 18px;
          margin-left: 59px;
        }
        p {
          float: left;
          width: 190px;
          font-size: 14px;
          font-color: #a0a0a0;
          letter-spacing: 3px;
          margin-top: 4px;
          margin-left: 59px;

          .blog {
            text-align: center;
            margin-left: 110px;
          }
        }

      }
    }
  }

  @media screen and(min-width: 361px) and(max-width: 480px) {
    .play {
      .container {
        width: 414px;
        height: 834px;

        h1 {
          margin-left: -18px;
          margin-top: 45px;
          font-size: 30px;
        }
        hr {
          margin-left: 65px;
          margin-top: 10px;
          border-top: 2px solid black;
          width: 227px;
        }
        h2 {
          text-align: center;
          font-size: 14px;
          font-color: black;
          margin-top: 19px;
          margin-left: 57px;
          width: 253px;
        }
        .play_item {
          width: 196px;
          height: 286px;
          margin-top: 32px;

          img {
            text-align: center;
            margin-left: 85px;
          }
          h3 {
            text-align: center;
            width: 185px;
            font-size: 24px;
            font-color: black;
            letter-spacing: 9px;
            margin-top: 18px;
            margin-left: 97px;
          }
          p {
            float: left;
            width: 190px;
            font-size: 14px;
            font-color: #a0a0a0;
            letter-spacing: 3px;
            margin-top: 4px;
            margin-left: 93px;
          }
          .blog {
            text-align: center;
            margin-left: 150px;
          }
        }

      }
    }
  }
}



