@media screen and(min-width: 280px) and(max-width: 360px) {
  .service {
    .container {
      position: relative;
      width: 330px;
      height: 813px;
      margin: 0 auto;
      .theme-dark {
        font-family: GenJyuuGothic Medium;
        font-size: 21px;
        letter-spacing: 9px;
        text-align: center;
      }
      .theme-dark1 {
        font-family: GenJyuuGothic P Light;
        font-family: STHeitTC Light;
        font-size: 14px;
        width: 315px;
        margin-left: -3px;
        text-align: center;
      }
      .search {
        margin-top: 36px;
        .search_images {

          margin-left: 125px;
          margin-top: -20px;

        }
        .search_article {
          .theme-dark;
          margin-top: 26px;
          margin-left: 10px;

        }
        .search_content {
          .theme-dark1;
          margin-top: -7px;

        }
      }
      .sheet {
        margin-top: 71px;
        .sheet_images {

          margin-left: 125px;
          margin-top: -30px;

        }
        .sheet_article {
          .theme-dark;
          margin-top: 36px;
          margin-left: 10px;

        }
        .sheet_content {
          .theme-dark1;
          margin-top: -7px;

        }
      }
      .mail {
        .mail_images {
          margin-left: 125px;
          margin-top: 30px;

        }
        .mail_article {
          .theme-dark;
          margin-top: 36px;
          margin-left: 10px;

        }
        .mail_content {
          .theme-dark1;
          margin-top: -7px;

        }
      }
      img {
        margin-left: 120px;
        margin-top: 20px;
      }
    }
  }
}

@media screen and(min-width: 361px) and(max-width: 480px) {
  .service {
    .container {
      position: relative;
      width: 414px;
      height: 813px;
      margin: 0 auto;
      .theme-dark {
        font-family: GenJyuuGothic Medium;
        font-size: 21px;
        letter-spacing: 9px;
        text-align: center;
      }
      .theme-dark1 {
        font-family: GenJyuuGothic P Light;
        font-family: STHeitTC Light;
        font-size: 14px;
        width: 350px;
        margin-left: 10px;
        text-align: center;
      }
      .search {
        margin-top: 36px;
        .search_images {

          margin-left: 152px;
          margin-top: -20px;

        }
        .search_article {
          .theme-dark;
          margin-top: 26px;
          margin-left: 10px;

        }
        .search_content {
          .theme-dark1;
          margin-top: 30px;

        }
      }
      .sheet {
        margin-top: 71px;
        .sheet_images {

          margin-left: 160px;
          margin-top: -30px;

        }
        .sheet_article {
          .theme-dark;
          margin-top: 36px;
          margin-left: 10px;

        }
        .sheet_content {
          .theme-dark1;
          margin-top: 25px;

        }
      }
      .mail {
        .mail_images {
          margin-left: 150px;
          margin-top: 30px;

        }
        .mail_article {
          .theme-dark;
          margin-top: 36px;
          margin-left: 10px;

        }
        .mail_content {
          .theme-dark1;
          margin-top: 25px;

        }
      }
      img {
        margin-left: 150px;
        margin-top: 20px;
      }
    }
  }
}


