.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 487px;

}
.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 487px;

}
@media screen and(min-width: 280px) and(max-width: 360px) {
  .slide-show {
    width: 100%;
    height: 736px;
    position: relative;
    color: white;
    #logo, .menu, p {
      position: absolute;
      z-index: 5;
    }
    #logo {
      top: 31px;
      left: 90px;
    }
    .item {
      width: 100%;
      height: 70vh;
      .CenterCoverImageBackground2("../images/background.jpg");
      width: 100%;
    }
    .menu {
      margin-top: 400px;
      margin-left: 192px;
      color: #52a9a6;
      a {
        color: white;
        outline: none;
      }
      span {
        font-size: 21px;
        margin-left: -166px;
        letter-spacing: 4px;
        padding: 10px 88px 10px 88px;
        border-style: solid;
        border-color: white;
        border-radius: 2px;
      }
    }
    .carousel-indicators {
      padding-left: 61px;
      margin-top: -10px;
      margin-left: -123px;
      li {
        float:left ;
        margin-left: 13px;
        width: 20px;
        height: 20px;
      }
    }
    p {
      margin: 0;
      bottom: 128px;
      left: 215px;
      font-size: 60px;
      line-height: 1.75em;
      letter-spacing: 24px;
    }
  }
  .carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 566px;
    .item {
      .CenterCoverImageBackground2("../images/background.jpg");
    }
  }
  h1{
    font-size: 18px;
    text-align: center;
    color: #000000;
  }
  .down{
    margin-left: 130px;
  }
}

@media screen and(min-width: 361px) and(max-width: 480px) {
  .slide-show {
    width: 414px;
    height: 736px;
    position: relative;
    color: white;
    #logo, .menu, p {
      position: absolute;
      z-index: 5;
    }
    #logo {
      top: 31px;
      left: 125px;
    }
    .item {
      width: 100%;
      height: 70vh;
      .CenterCoverImageBackground2("../images/background.jpg");
      width: 414px;
    }
    .menu {
      margin-top: 460px;
      margin-left: 230px;
      color: #52a9a6;
      a {
        color: white;
        outline: none;
      }
      span {
        font-size: 21px;
        margin-left: -166px;
        letter-spacing: 4px;
        padding: 10px 88px 10px 88px;
        border-style: solid;
        border-color: white;
        border-radius: 2px;
      }
    }
    .carousel-indicators {
      padding-left: 61px;
      margin-left: -123px;
      li {
        float:left ;
        margin-left: 13px;
        width: 20px;
        height: 20px;
      }
    }
    p {
      margin: 0;
      bottom: 128px;
      left: 215px;
      font-size: 60px;
      line-height: 1.75em;
      letter-spacing: 24px;
    }
  }
  .carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 566px;
  }
  h1{
    font-size: 20px;
    text-align: center;
    color: #000000;
  }
  .down{
    margin-left: 170px;
  }
}
