@media screen and(min-width: 280px) and(max-width: 360px) {
  .try-down {
    width: 330px;
    height: 248px;
    p{
      margin-top: 50px;
      margin-left: 12px;
      letter-spacing: 5px;
      width: 335px;
      float: left;
    }
  }
}
@media screen and(min-width: 361px) and(max-width: 480px) {
  .try-down {
    width: 414px;
    height: 248px;
    p{
      margin-top: 50px;
      margin-left: 28px;
      letter-spacing: 5px;
      width: 338px;
      float: left;
    }
  }
}