.CenterCoverImageBackground1(@image) {
  background: url(@image) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 106%;
  height: 487px;
}
.CenterCoverImageBackground2(@image) {
  background: url(@image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 487px;
}
@media screen and(min-width: 280px) and(max-width: 360px) {
  .try {
    .container {
      .CenterCoverImageBackground1("../images/trybackground.jpg");
      height: 487px !important;
      h1 {
        text-color: white;
        font-size: 22px;
        letter-spacing: 5px;
        margin-top: 0px;
        text-align: center;
        color: white;
      }
      .try_line {
        margin-top: 10px;
        text-align: center;
        margin-left: 85px;
      }
      .try_button {
        text-align: center;
        background-color: #66cccc;
        text-decoration-color: white;
        letter-spacing: 8px;
        margin-top: 45px;
        padding: 20px 20px 20px 20px;
        margin-left: 68px;
      }
      .down {
        margin-top: 40px;
        text-align: center;
      }
    }
  }
}

@media screen and(min-width: 360px) and(max-width: 480px) {
  .try {
    .container {
      .CenterCoverImageBackground2("../images/trybackground.jpg");
      height: 487px !important;
      h1 {
        text-color: white;
        font-size: 22px;
        letter-spacing: 8px;
        margin-top: 0px;
        text-align: center;
        color: white;
      }
      .try_line{
        margin-top: 10px;
        text-align: center;
        margin-left: 128px;
      }
      .try_button {
        text-align: center;
        background-color: #66cccc;
        text-decoration-color: white;
        letter-spacing: 8px;
        margin-top: 45px;
        padding: 20px 20px 20px 20px;
        margin-left: 105px;
      }
      .down {
        margin-top: 40px;
        text-align: center;
      }
      width: 414px;
      height: 487px !important;
      .CenterCoverImageBackground2("../images/trybackground.jpg");

      h1 {
        text-color: white;
        font-size: 22px;
        letter-spacing: 8px;
        padding-top: 320px;
        text-align: center;
        color: white;
      }

      .try_line {
        margin-top: 10px;
        text-align: center;
        margin-left: 88px;
        margin-right: auto;
        margin-bottom: 10px;
      }

      .try_button {
        text-align: center;
        background-color: #66cccc;
        text-decoration-color: white;
        letter-spacing: 8px;
        margin-top: 10px;
        padding: 20px 20px 20px 20px;
        margin-left: 68px;
        margin-right: auto;
      }
    }
  }
}




