<div id="matchi" class="matchi dark-theme" ng-controller="MatchiCtrl as ctrl">
    <div class="container">
        <h1>旅遊顧問<span>Tourmatchi來自世界各地的專屬旅遊顧問</span> </h1>


        <div class="matchi-items">
            <div ng-repeat="matchi in ctrl.matchii" class="matchi-item">
                <img class="wow flipInX"
                     ng-src="{{matchi.image_url}}">

                <div class="matchi-item-text">
                    <h2>{{matchi.city}}</h2>

                    <p>{{matchi.name}}</p>
                </div>
            </div>
        </div>
        <a ng-click='ctrl.openLogin()'ng-hide="ctrl.Auth.isLogin" ><input type="button" value="填寫行程規劃需求表單"></a>
        <a ng-show="ctrl.Auth.isLogin"><input type="button" value="在下方填寫您的需求表單"></a>
    </div>
</div>