<div class="pop-up" ng-controller="PopUpCtrl as ctrl">
    <img src="images/logo1.png">

    <form name="ctrl.loginForm" ng-if="!ctrl.showRegister">
        <input class="email" ng-model="ctrl.model.email" type="text" name="Email" placeholder="Email" required>
        <input class="password" ng-model="ctrl.model.password" type="password" name="Password" placeholder="Password"
               required>

        <div class="buttons">
            <input class="register" type="button" value="註冊" ng-click="ctrl.showRegister=true">
            <input ng-disabled="!ctrl.submitEnable" class="login" type="submit" value="登入" ng-click="ctrl.login()">
        </div>
    </form>

    <form name="ctrl.registerForm" ng-if="ctrl.showRegister">
        <input class="name" ng-model="ctrl.model.name" type="text" name="name" placeholder="Name" required>
        <input class="email" ng-model="ctrl.model.email" type="email" name="email" placeholder="Email" required>
        <input class="password" ng-model="ctrl.model.password" type="password" name="password" placeholder="Password"
               required>

        <div class="buttons center">
            <input ng-disabled="!ctrl.submitEnable" class="register full" type="submit" value="註冊" ng-click="ctrl.register()">
        </div>
    </form>
</div>