<div class="about">
    <div class="container">
        <div class="about-left wow bounceInUp">
            <h1>About</h1>
            <hr>
            <p>我們媒合專屬的旅遊顧問，讓旅人在規劃旅行上得到專屬的諮詢服務。</p>
        </div>
            <img src="images/matchi.png" class="wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
    </div>
</div>
