<div class="footer">
    <div class="container">
        <div class="footer-item">
            <a href="https://www.facebook.com/tourmatchi" target="_blank"><img id="social_fb" src="images/social_fb.png" ></a>
            <a href="https://tourmatchi.wordpress.com:" target="_blank"><img id="social_wordpress" src="images/social_wordpress.png"></a>

            <div class="content">
                <p>Tourmatchi 旅遊顧問媒合平台</p>
                <div class="vr"></div>
                <p>E-Mail:tourmatchi@gmail.com</p>
            </div>

        </div>
    </div>
</div>