<div class="try light-theme" ng-controller="TryCtrl as ctrl">
    <div class="container">
        <h1>搶先體驗一日行程規劃服務</h1>

        <p>來自各國當地的旅遊顧問，提供您客製化的一日行程規劃，<br/>
            還在苦惱於琳琅滿目的旅遊資訊不知道該怎麼下手規劃，就交<br/>
            給TourMatchi的專屬顧問吧！</p>
        <a ng-click='ctrl.openLogin()'><input type="button" value="立刻註冊體驗 >"/></a>
    </div>
</div>