<div class="play" ng-controller="PlayCtrl as ctrl">
    <div class="container">
        <h1>精選私房玩法 <span>看看顧問都怎麼在當地旅遊吧！</span></h1>
        <hr>

        <div class="play-items">

            <div ng-repeat="play in ctrl.plays" class="play-item wow bounceInDown">
                <img ng-src="{{play.image_url}}">

                <div>
                    <h2>{{play.city}}</h2>

                    <p>{{play.description}}</p>
                    <a href="{{play.url}}" target="_blank">
                        <img class="blog" src="images/blog.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>      
