<div class="matchi-request light-theme" ng-controller="MatchiRequestCtrl as ctrl">
    <div class="container wow bounceInUp">
        <p>沒有理想的旅遊顧問嗎？ <br/>
            沒關係，請留下您計劃旅遊的城市，我們將有專人聯繫您。</p>

        <form name="matchiRequestForm" ng-submit="ctrl.submit()">
            <input name="city" placeholder="ex: 雪梨" type="text" ng-model="ctrl.matchiRequestModel.city" required/>
            <input type="submit" value="送出"/>
        </form>
    </div>
</div>